.card {
  width: 350px;
  border: 1px solid #ccc;
  border-radius: 8px;
  overflow: hidden;
  margin: 10px;
  margin-bottom: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  position: relative;
  overflow: visible;
}

.card:hover {
    box-shadow: 7px 7px 7px rgba(10, 212, 27, 0.4);
  }

.card img {
  width: 100%;
  height: auto;
  object-fit: cover;
  transition: transform 0.3s ease;
}

.card img:hover {
    transform: translateY(-12px);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    outline: none;
  }

.card-content {
  padding: 16px;
}

.card-content h3 {
  margin: 0;
  font-size: 18px;
  font-weight: bold;
}

.card-content p {
  margin: 8px 0;
  font-size: 14px;
}