.search-bar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 20px;
  }
  
  .search-bar form {
    display: flex;
    gap:10px;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
  }
  
  .search-bar input[type="text"] {
    padding: 10px;
    width: 300px;
    border: 1px solid #ccc;
    border-radius: 25px;
    transition: box-shadow 0.3s ease; /* Add transition for smooth effect */
    padding-left: 1.5em;
  }

  .search-bar input[type="text"]:hover {
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.3); /* Add dark shadow effect on hover */
  }

  .search-bar input[type="text"]:focus {
    outline-color: green;
    box-shadow: 0 0 8px rgba(34, 139, 34, 0.5); /* Dark greenish shadow when focused */
}
  
  .search-bar button[type="submit"] {
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 15px;
    cursor: pointer;
  }

  .search-bar button[type="submit"]:hover {
    background-color: #1eda24;
  }

  .loading-spinner {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .response-data {
    gap: 20px;
    background-color: black;
  }
  
  .response-data h2 {
    margin-top: 0;
  }
  
  .response-data ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
  }
  
  .response-data li {
    margin-bottom: 10px;
  }
  
  .response-data strong {
    font-weight: bold;
  }
  
  .kg-card-container {
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 10px;
  }

  .test {
    background-color: #D1CCDC;
  }

  .error{
    text-align: center;
  }
  
  @media (max-width: 767px) {
    .response-data {
      justify-content: center;
    }
  
    .response-data ul {
      flex-direction: column;
      align-items: center;
    }
  }

  
  
  
  
  
  
  